# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# All files
[*]
charset = utf-8
insert_final_newline = true
trim_trailing_whitespace = true

# Code files
[*.{cs,cshtml,css,js,json}]
charset = utf-8-bom
indent_style = space
indent_size = 4

# Razor files - MUST be UTF-8 for Vietnamese
[*.cshtml]
charset = utf-8-bom
indent_style = space
indent_size = 4

# CSS files
[*.css]
charset = utf-8
indent_style = space
indent_size = 4

# JavaScript files
[*.js]
charset = utf-8
indent_style = space
indent_size = 4

# JSON files
[*.json]
charset = utf-8
indent_style = space
indent_size = 2

# Markdown files
[*.md]
charset = utf-8
trim_trailing_whitespace = false
