<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- Ensure UTF-8 encoding for all responses -->
    <httpProtocol>
      <customHeaders>
        <add name="Content-Type" value="text/html; charset=utf-8" />
      </customHeaders>
    </httpProtocol>
    
    <!-- Configure static content with UTF-8 -->
    <staticContent>
      <remove fileExtension=".cshtml" />
      <mimeMap fileExtension=".cshtml" mimeType="text/html; charset=utf-8" />
      <remove fileExtension=".css" />
      <mimeMap fileExtension=".css" mimeType="text/css; charset=utf-8" />
      <remove fileExtension=".js" />
      <mimeMap fileExtension=".js" mimeType="application/javascript; charset=utf-8" />
    </staticContent>
    
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
    </handlers>
    
    <aspNetCore processPath="dotnet" 
                arguments=".\MealManagement.dll" 
                stdoutLogEnabled="false" 
                stdoutLogFile=".\logs\stdout" 
                hostingModel="inprocess">
      <environmentVariables>
        <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
      </environmentVariables>
    </aspNetCore>
  </system.webServer>
  
  <system.web>
    <!-- Global UTF-8 encoding -->
    <globalization 
      requestEncoding="utf-8" 
      responseEncoding="utf-8" 
      fileEncoding="utf-8" 
      culture="vi-VN" 
      uiCulture="vi-VN" />
  </system.web>
</configuration>
